<% if signed_in? %>
<div class="wrapper">
  <div class="row profile">
    <aside class="span4 offset0">
      <section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/task_form' %>
      </section>
    </aside>
  </div>
	 <div class="tasks">
      <% if @user.tasks.any? %>
        <h3> My daily routine </h3>
          <%= render @tasks %>
        <%= will_paginate @tasks %>
      <% end %>
  </div>
</div>
<% else %>
<div class="landing">
	<div class="signing">
		<h1>zenflow</h1>
	 	<h2>
  		  Document and build up an amazing daily routine.
  		</h2>

  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  	</div>
  	<div class="opening">
		<h1>
			“We are what we repeatedly do.
		</h1>
		<h2>
	  		  Excellence, then, is not an act, but a habit.” - Aristotle
	  	</h2>
	 </div>
</div>
<% end %>