<% provide(:title, @user.name) %>
<div class="row profile">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
      	<%= @user.bio %>
      </p>
      <p>
        <a href="https://twitter.com/<%= @user.twitter %>" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @LeoWid</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </p>
      <div class="span6 offset3">
      <%= render 'routinely/routine' %>
      </div>
    </section>
  </aside>
</div>

