<%= form_for(@task, :remote => true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.time_select("hour") %> - <%= f.time_select("to_hour", include_blank: true) %>
	</div>
	<div class="textfield">		
		<%= f.text_field :content, placeholder: "E.g. Wake up, Working out, etc." %>
	</div>
	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>